# Railway / Supabase / Neon PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:password@host.railway.internal:5432/railway"
NEXTAUTH_SECRET="entiix-secret-key-production-39281723"
NEXTAUTH_URL="http://localhost:3000"
META_APP_ID="1475280527698558"
META_APP_SECRET="7ae6072f92bba18b389363b021237a22"
META_ACCESS_TOKEN="EAAU9woPMKn4BSby9ZBCZBP5jqEapZAAgaqIX1sQ2F2sJ4Oj8pBabOaU5tWl71TvEVQkshKtjoW23mmAssSkiWdRaCVc0cqZBhWDoxaSknLU1YdTejr5xl5w7OU3ZAmsHWcZATtYOQSGpeNJcVwBbdSpr4iQ2gBZBLLmewVBD3d51nxidWY2ZBNeNcCSjcrYSYkUFv5SR1soOm2MliUuZCo6a2W1h76D7qU83hG5fZCPKUvBDZCtDLYKuppNSoblQagnYCUA7Kre2yXEissTZAmNasTS178PyKr8TMhaWaQZDZD"
